.container {
  min-height: 100vh;
  width: 100%;
  background-image: url('/imgs/download (1).jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(133, 206, 232, 0.7), rgba(30, 64, 175, 0.7));
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
} 